.code-block {
  position: relative;

  // code block language drop down
  select {
    font-weight: 500;
    position: absolute;
    border-radius: 5px;
    right: 0.5rem;
    top: 0.5rem;
    padding: 2px
  }
}